# Import Library

In [2]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# 1. Import data set

In [13]:
df: pd.DataFrame = pd.read_excel("./filtered_data.xlsx")
df.head()

     Unnamed: 0  Gender
0  Respondent 1  Female
1  Respondent 2  Female
2  Respondent 3    Male
3  Respondent 4  Female
4  Respondent 5    Male

In [11]:
row, column = df.shape
header = df.iloc[:, 0]
df = df.iloc[:, 1:]