In [2]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_excel("./Product_Survey_Results.xlsx", skiprows=[0])

In [7]:
df

,Unnamed: 0,Respondent 1,Respondent 2,Respondent 3,Respondent 4,Respondent 1 -S,Respondent 2 - S,Respondent 3 - S,Respondent 4 - S,Respondent 1.1,...,Respondent 4.1,Respondent 5,Respondent 1.2,Respondent 2.2,Respondent 3.2,Respondent 4.2,Respondent 5.1,Respondent 6,Respondent 7,Respondent 8
0,Male or female,Female,Female,Male,Female,Male,Male,Male,Male,Male,...,Male,Female,Male,Male,Female,Male,Female,Female,Male,Male
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Question 1: Currently Uses,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Oral-B rechargeable,Name brand manual,Manual Generic,Name brand Manual,"Oral-B, Manual","Oral-B, Manual","Oral-B, Manual","Manual, Battery, Rechagerable",Manual,...,Manual,Manual,Crest Batt. Operated,Manual Colgate,Manual Pepsodent,Manual Oral-B,Manual Colgate,Manual Colgate,Battery operated - Crest,Manual - Crest
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,", all Oral-B",Oral-B,...,Oral-B,Colgate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,Warranty,NaN,NaN,NaN,NaN,1,NaN,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,Built-in toothpaste,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
91,Battery Indicator,1,1,1,NaN,NaN,NaN,NaN,NaN,1,...,NaN,NaN,NaN,NaN,NaN,1,1,NaN,NaN,NaN
92,Attachments,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,1,NaN,NaN,NaN,NaN,1,NaN,NaN
93,Extra head,NaN,NaN,NaN,NaN,1,NaN,1,NaN,NaN,...,NaN,NaN,NaN,NaN,1,1,1,NaN,NaN,NaN